body{
    font-family: 'Open Sans', sans-serif;
}

.my-section {
    margin-top: 30px;
}

.vertical-container .row {
    display: table;
    width: 100%;
}
.vertical-container .row > .col-xs-3 {
    display: table-cell;
    vertical-align: middle;
}

#result {
    margin-top: 30px;
    position: relative;
    z-index: 999999;
}

.ordered-list {
    padding-left: 0;
    list-style: none;
}

.ordered-list li:first-child{
    margin-left: 5px;
}

.special-border{
    border-bottom: 2px solid #c8d8c2;
    padding-bottom: 10px;
}

.img-center{
    margin: 0 auto;
    text-align: center;
}

#welcome{
    margin-bottom: 30px;
}

.flags {
    top: 5px;
    left: 5px;
    float: left;
    position: absolute;
    cursor: pointer;
}

.minesweeper_button {
    top: 40px;
    right: 80px;
    float: right;
    position: absolute;
    cursor: pointer;
}

@media screen and (max-device-width: 769px){
    #welcome img{
        max-height: 100px;
    }
}
